<h2>New Activity</h2>
<div class="bottom-padded-box">
	<table class="activity">
		<tbody>
			<tr>
				<td><time datetime="2013-03-27">Mar 27</time></td>
				<td class="money credit" title="$150.00 credit">150.00</td>
				<th scope="row">Online Payment</th>
			</tr>
			<tr>
				<td rowspan="3"><time datetime="2013-03-24">Mar 24</time></td>
				<td class="money debit" title="$83.41 charge">83.41</td>
				<th scope="row">Activity Fee</th>
			</tr>
			<tr>
				<td class="money debit" title="$196.23 charge">196.23</td>
				<th scope="row">Technology Fee</th>
			</tr>
			<tr>
				<td class="money debit" title="$270.36 charge">270.36</td>
				<th scope="row">Telecommunications Studio Fee</th>
			</tr>
			<tr>
				<td><time datetime="2013-03-22">Mar 22</time></td>
				<td class="money credit" title="$50.00 credit">50.00</td>
				<th scope="row">Payment</th>
			</tr>
		</tbody>
		<tbody class="summary due">
			<tr>
				<td colspan="2" class="money debit">350.00</td>
				<th scope="row">New Activity</th>
			</tr>
		</tbody>
	</table>
</div>
<p class="footnote">New activity will show on your next statement.</p>