<h2>Activity by date</h2>
<div class="date-control">
	<a href="#start">Dec 1, 2012</a> &ndash; <a href="#end">Jan 31, 2013</a>
	<button class="btn">Go</button>
</div>
<div class="box">
	<table class="activity">
		<tbody>
			<tr>
				<td><time datetime="2013-01-07">Jan 7</time></td>
				<td class="money credit" title="$750.00 credit">750.00</td>
				<th scope="row">History Department Scholarship</th>
			</tr>
			<tr>
				<td rowspan="2"><time datetime="2012-12-26">Dec 26</time></td>
				<td class="money debit" title="$83.41 charge">83.41</td>
				<th scope="row">Activity Fee</th>
			</tr>
			<tr>
				<td class="money debit" title="$196.23 charge">196.23</td>
				<th scope="row">Technology Fee</th>
			</tr>
			<tr>
				<td><time datetime="2012-12-19">Dec 19</time></td>
				<td class="money debit" title="$2,890.53 charge">2,890.53</td>
				<th scope="row">Resident Undergraduate Fees</th>
			</tr>
		</tbody>
	</table>
</div>