<h2>Summary</h2>
<div class="bottom-padded-box">
	<table class="activity">
		<tbody>
			<tr>
				<td class="money debit">1,070.09</td>
				<th scope="row">Statement Balance</th>
			</tr>
			<tr>
				<td class="money credit">375.00</td>
				<th scope="row"><a tooltip="Your statement balance has been adjusted for anticipated aid. Anticipated aid is funding you are expected to receive. If this funding is not secured, you will be responsible for paying the remaining portion of the statement balance." tooltip-placement="bottom">Anticipated Aid</a></th>
			</tr>
		</tbody>
		<tbody class="summary due">
			<tr>
				<td class="money debit">695.09</td>
				<th scope="row">Adjusted balance<br/>due by <time datetime="{{dueDate}}">{{dueDateString}}</time></th>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td class="money debit">{{newCharges}}</td>
				<th scope="row">New Charges</th>
			</tr>
			<tr>
				<td class="money credit">{{newPayments}}</td>
				<th scope="row">New Payments</th>
			</tr>
		</tbody>
		<tbody class="summary due">
			<tr>
				<td class="money debit">{{realTimeBalance}}</td>
				<th scope="row">Real-Time Balance</th>
			</tr>
		</tbody>
	</table>
</div>

<div class="payment">
	<a href="#payment" data-toggle="payment-options" data-hide="main">Payment Options</a>
</div>

<details class="faq">
	<summary>What if my payment is late?</summary>
	<div>
		<p>If the amount due is not received by <strong>{{dueDateString}}</strong>, a late payment fee will be charged on the next statement.</p>
		<p>The late payment fee is <strong>1.5% per month</strong> with a $2 minimum.</p>
	</div>
</details>