<h2>New Activity</h2>
<div class="box">
	<table class="activity">
		<tbody>
			<tr>
				<td><time datetime="2013-03-30">Mar 30</time></td>
				<td class="money credit" title="$350.00 credit">350.00</td>
				<th scope="row">Online Payment</th>
			</tr>
			<tr>
				<td rowspan="3"><time datetime="2013-03-28">Mar 28</time></td>
				<td class="money debit" title="$83.41 charge">83.41</td>
				<th scope="row">Activity Fee</th>
			</tr>
			<tr>
				<td class="money debit" title="$196.23 charge">196.23</td>
				<th scope="row">Technology Fee</th>
			</tr>
			<tr>
				<td class="money debit" title="$270.36 charge">270.36</td>
				<th scope="row">Telecommunications Studio Fee</th>
			</tr>
			<tr>
				<td><time datetime="2013-03-22">Mar 22</time></td>
				<td class="money credit" title="$150.00 credit">150.00</td>
				<th scope="row">Mailed Payment</th>
			</tr>
			<tr>
				<td><time datetime="2013-03-21">Mar 21</time></td>
				<td class="money debit" title="$375.00 credit">375.00</td>
				<th scope="row">Unfulfilled Financial Aid</th>
			</tr>
		</tbody>
	</table>
</div>