<h3>2013</h3>
<details class="statement" ng-include ng-cloak src="'partials/statement.html'"></details>

<h3>2012</h3>
<details class="statement">
	<summary>
		<time datetime="2013-01-20">Nov 20</time>
		<span>
			<b class="money" title="$2,586.09 amount due by Feb 10">0.00</b>
			<a href="#pdf">PDF</a>
		</span>
	</summary>
	<div>
		<p>[STATEMENT DETAILS]</p>
	</div>
</details>
<details class="statement">
	<summary>
		<time datetime="2013-01-20">Oct 20</time>
		<span>
			<b class="money credit" title="$2,586.09 amount due by Feb 10">50.00</b>
			<a href="#pdf">PDF</a>
		</span>
	</summary>
	<div>
		<p>[STATEMENT DETAILS]</p>
	</div>
</details>
<details class="statement">
	<summary>
		<time datetime="2013-01-20">Sept 20</time>
		<span>
			<b class="money" title="$2,586.09 amount due by Feb 10">0.00</b>
			<a href="#pdf">PDF</a>
		</span>
	</summary>
	<div>
		<p>[STATEMENT DETAILS]</p>
	</div>
</details>
<details class="statement">
	<summary>
		<time datetime="2013-01-20">Aug 20</time>
		<span>
			<b class="money" title="$2,586.09 amount due by Feb 10">0.00</b>
			<a href="#pdf">PDF</a>
		</span>
	</summary>
	<div>
		<p>[STATEMENT DETAILS]</p>
	</div>
</details>
<details class="statement">
	<summary>
		<time datetime="2013-01-20">Jun 20</time>
		<span>
			<b class="money debit" title="$2,586.09 amount due by Feb 10">2,540.00</b>
			<a href="#pdf">PDF</a>
		</span>
	</summary>
	<div>
		<p>[STATEMENT DETAILS]</p>
	</div>
</details>
