<h2>Summary</h2>
<div class="bottom-padded-box">
	<table class="activity">
		<tbody>
			<tr>
				<td class="money debit">3,336.09</td>
				<th scope="row">Charges</th>
			</tr>
			<tr>
				<td class="money credit">16.00</td>
				<th scope="row">Adjustments</th>
			</tr>
			<tr>
				<td class="money credit">1,500.00</td>
				<th scope="row">Payments</th>
			</tr>
			<tr>
				<td class="money credit">750.00</td>
				<th scope="row">Financial Aid</th>
			</tr>
			<tr>
				<td class="money credit">375.00</td>
				<th scope="row">Anticipated Aid</th>
			</tr>
		</tbody>
		<tbody class="summary">
			<tr>
				<td class="money debit">695.09</td>
				<th scope="row">Subtotal</th>
			</tr>
			<tr>
				<td class="money">0.00</td>
				<th scope="row">Previous Balance</th>
			</tr>
		</tbody>
		<tbody class="summary due">
			<tr>
				<td class="money debit">695.09</td>
				<th scope="row">Amount due by <time datetime="{{dueDate}}">{{dueDateString}}</time></th>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td class="money debit">550.00</td>
				<th scope="row">New Charges</th>
			</tr>
			<tr>
				<td class="money credit">500.00</td>
				<th scope="row">New Payments</th>
			</tr>
			<tr>
				<td class="money debit">375.00</td>
				<th scope="row">Unfulfilled Anticipated Aid</th>
			</tr>
		</tbody>
		<tbody class="summary due">
			<tr>
				<td class="money debit">1,120.09</td>
				<th scope="row">Real-Time Balance</th>
			</tr>
		</tbody>
	</table>
</div>

<div class="payment">
	<a href="#payment" data-toggle="payment-options" data-hide="main">Payment Options</a>
</div>

<details class="faq">
	<summary>What if payment is late?</summary>
	<div>
		<p>If the amount due from the most recent statement is not received by <strong>{{dueDateString}}</strong>, a late fee will be charged on the next statement.</p>
		<p>Late fees charge <strong>1.5% per month</strong>, adjusted for any prior late fees and partial payments.</p>
	</div>
</details>
