<h3>Terms</h3>
<details class="statement" open>
	<summary>
		<time datetime="2012-08-20">Fall 2012</time>
		<span>
			<b class="money debit">100.00</b>
			<a href="#pdf">PDF</a>
		</span>
	</summary>
	<div>
		<table class="activity">
			<tbody>
				<tr>
					<td class="money">0.00</td>
					<th scope="row">Summer 2012 Balance Forward</th>
				</tr>
				<tr>
					<td class="money debit">3,542.00</td>
					<th scope="row">Charges &amp; Adjustments</th>
				</tr>
				<tr>
					<td class="money credit">2,242.00</td>
					<th scope="row">Payments</th>
				</tr>
				<tr>
					<td class="money credit">1,200.00</td>
					<th scope="row">Financial Aid</th>
				</tr>
			</tbody>
			<tbody class="summary due">
				<tr>
					<td class="money debit">100.00</td>
					<th scope="row">Ending balance</th>
				</tr>
			</tbody>
		</table>
	</div>
</details>
<details class="statement">
	<summary>
		<time datetime="2012-05-20">Summer 2012</time>
		<span>
			<b class="money">0.00</b>
			<a href="#pdf">PDF</a>
		</span>
	</summary>
	<div>
		<p>[TERM DETAILS]</p>
	</div>
</details>
<details class="statement">
	<summary>
		<time datetime="2012-01-20">Spring 2012</time>
		<span>
			<b class="money debit">20.00</b>
			<a href="#pdf">PDF</a>
		</span>
	</summary>
	<div>
		<p>[TERM DETAILS]</p>
	</div>
</details>
<details class="statement">
	<summary>
		<time datetime="2011-08-20">Fall 2011</time>
		<span>
			<b class="money debit">600.00</b>
			<a href="#pdf">PDF</a>
		</span>
	</summary>
	<div>
		<p>[TERM DETAILS]</p>
	</div>
</details>
<details class="statement">
	<summary>
		<time datetime="2011-01-20">Spring 2011</time>
		<span>
			<b class="money">0.00</b>
			<a href="#pdf">PDF</a>
		</span>
	</summary>
	<div>
		<p>[TERM DETAILS]</p>
	</div>
</details>
